body {
    background-color: hsl(342, 55%, 81%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Manrope;
    text-align: center;
}
p {
    font-size: 20px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
}
img {
    border-radius: 5px;
}